[Desktop Entry]
Name=PolyGlot
Exec=<install-dir>/PolyGlot.sh
Terminal=false
Icon=<install-dir>/assets/PolyGlot0.png
Type=Application
Categories=Development;Education;Science;
