.idea
/installer*/
*.deb
*.dmg
*.exe
*.ini
*.log
appimage
build
buildDate
nbproject
PolyGlotLinA.iml
PolyGlot.app
readme.zip
target
assets/assets/org/DarisaDesigns/exlex.zip
assets/assets/org/DarisaDesigns/version
.DS_Store
*.keychain-db
docs/beta_builds/
*.deb
*.dmg
*.exe

# Eclipse metadata
.project
.classpath
.settings

# Vim metadata
.*.un~
.*.swp
tags
